body{
    margin: 0 ;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

header {

    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(Netflix-Background.jpg);
    height: 100vh;
}

nav img {
    width: 170px;
    height: 80px;
    vertical-align: middle;
}

nav a.logo {
   display: inline-block; 
   line-height: 90px;
   margin-left: 3%;
}

nav .signin {
    color: #ffffff;
    float: right;
    background-color: red;
    line-height: normal;
    margin-top: 20px;
    margin-right: 3%;
    padding: 7px 17px;
    font-weight: 600;
    border-radius: 3px;
    font-size: 17px;
    cursor: pointer;

}

.pitch {
    margin: 3%;
    position: absolute;
    top: 30%;
    font-size: x-large;
}

.pitch_title {
    font-size: xxx-large;
     margin: 0 0 0.2em;
     font-weight: 700;
}

.pitch_subtitle {
    font-size: large;
    margin: 0;
}

.btn {
    color: #ffffff;
    border: none;
    background-color: red;
    line-height: normal;
    padding: 6px 5px;
    font-weight: 500;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    margin: .5em .5em .5em 0;   
}

.nav .signin:hover, .btn:hover {
    background: lightcoral;
}

#features > nav {
    padding-top: 35px;
    background-color: #141414;
    border-bottom: 2px solid #3d3d3d;
}

#features > nav a {
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    color: #777777;
}

#feature > nav a:hover {
    color: white;
}

#feature > nav a img {
    height: 49px;
    margin: auto;
}

#feature > nav a h2 {
    margin: 10px 0 0;
    font-size: 1em;
}

.columns {
    display: flex;
   
}

.columns.flex-wrap {
    flex-wrap: wrap;
}

.column {
    display: inline-block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.column.is-25 {
    flex: none;
    width :25%;
}

.centre {
    margin: 0 auto;
}

.size-80 {
    width: 80%;
}

#features > nav a.is-selected {
    border-bottom: 5px solid #e50914;
    color: white;
}

#features > article >section {
    display: none;
    padding: 40px 0;
}

#features > article > section.is-selected {
    display: block;
}

footer a{
    color: #999;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer >p {
    margin: 0 0 30px;
}

footer >ul {
    margin: 0;
    padding: 0;
}

footer >ul > li {
    list-style: none;
    margin: 0 0 16px;
    padding-right: 12px;
    min-width: 100px;
    font-size: 13px;
}

footer {
    padding-top: 20px;
    color: #999;
    max-width: 1000px;
}
